table thead{
    background-color: #333333;
}
    thead tr{
        color: #fff;
        
    }

    tbody tr{
        color: rgba(0, 0, 0, .7);
    }

    tbody tr .table-actions a{
        color: #F480BD;
        float: left;
        margin-right: 20px;
    }