{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventsoft - Form</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:200,300,400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <nav class="nav">
        <label>&copy Inventsoft</label>
        <div class="active-user-container">
            <p>Bienvenido, <button id="active-user">Juan López</button></p>
        </div>
    </nav>

    <section class="options-container">
        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

            
    </section>

    <div class="container-fluid main-container" id="main-container">
    </div>

</body>

<script src="{% static 'js/design-patterns/factoryUserView.js' %}"></script>
<script src="{% static 'js/templates/form.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

<script>

    (function(){
        // UserViewHome Factory
        // (UserType, HTMLContainer)
        let user = getUser();
        console.log(user)
        factoryUserViewForm(user.type, 'main-container');
    })();

</script>

</html>