{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventsoft - Registro</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:200,300,400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    {% csrf_token %}
</body>

<script src="{% static 'js/design_patterns/factoryUserView.js' %}"></script>
<script src="{% static 'js/design_patterns/singletonUser.js' %}"></script>
<script src="{% static 'js/templates/nav.js' %}"></script>
<script src="{% static 'js/templates/forms.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/styleFunctions.js' %}"></script>
<script src="{% static 'js/cleave.js' %}"></script>

<script>
    (async function(){

    // ------------------------------------------------
        // get user
        const user = await getSingleton();
        
    // ------------------------------------------------
        // Get nav specific options for that user type
        document.body.innerHTML += ViewNav(user);

    // ------------------------------------------------
        // Get form specific options for that form type
        document.body.innerHTML += factoryFormView(getFormType());

        function setAttributes(element, attributes){
            for(const attribute in attributes){
                element.setAttribute(attribute, attributes[attribute])
            }
        }

        const CSRF_TOKEN = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const ETIQUETAA = document.getElementsByClassName('secondary-btn')[0];  

        async function mandarData(url, data){
            const response = await fetch(url, {
                method: 'POST',
                body: data,
                headers: {
                    'X-CSRFToken': CSRF_TOKEN
                }
            })
            const resp = await response.json();
            return resp;
        }

        if(getFormType() === '/form-products/'){

            let privateProductStorage = "";
            
            async function getCatAndProvData() {
                const response = await fetch('/categories_and_providers/');
                const data = await response.json();
                return data;
            }

            const data = await getCatAndProvData()

            function addOptions(selectName, data){
                selectElement = document.getElementById(selectName);

                for(let i = 0; i < data.length; i++){
                    const optionElement = document.createElement('option');
                    setAttributes(optionElement, {
                        value: data[i].key,
                    }) 
                    optionElement.innerHTML = data[i].name;
                    selectElement.appendChild(optionElement);
                }
            }

            addOptions('categoria', data.categories);
            addOptions('proveedor', data.providers);

            const precio = new Cleave('#precio', {
                blocks: [10],
                uppercase: true
            });

            const cantidad = new Cleave('#cantidad', {
                blocks: [10],
                uppercase: true
            });

            const FORMPRODUCTO = document.querySelector('#formProducto');            

            if(localStorage.getItem('productKey')){
                privateProductStorage = localStorage.getItem('productKey');

                let titulo = document.getElementsByClassName('result-title')[0];
                titulo.innerHTML = '';
                titulo.innerHTML = '<h2>Editar Producto</h2>';

                async function getProductData() {
                    const response = await fetch(`/fetch_product/${privateProductStorage}/`);
                    const data = await response.json();
                    return data.product;
                }

                privateProductStorage = await getProductData();

                document.getElementById("nombre").value = privateProductStorage.name;
                document.getElementById("descripcion").value = privateProductStorage.description;
                document.getElementById("precio").value = privateProductStorage.price;
                document.getElementById("categoria").value = privateProductStorage.category;
                document.getElementById("proveedor").value = privateProductStorage.provider;
                document.getElementById("cantidad").value = privateProductStorage.amount;
            }

            FORMPRODUCTO.addEventListener('submit', async (e) => {
                e.preventDefault();

                if(document.getElementById('nombre').value !== '' && document.getElementById('descripcion').value !== '' && document.getElementById('precio').value !== '' && document.getElementById('categoria').value !== '' && document.getElementById('proveedor').value !== '' && document.getElementById('cantidad').value !== ''){
                    const form = new FormData();
                    form.append('nombre', document.getElementById('nombre').value);
                    form.append('descripcion', document.getElementById('descripcion').value);
                    form.append('precio', document.getElementById('precio').value);
                    form.append('categoria', document.getElementById('categoria').value);
                    form.append('proveedor', document.getElementById('proveedor').value);
                    form.append('cantidad', document.getElementById('cantidad').value);
                    if (privateProductStorage){
                        form.append('accion', 'EDIT');
                        form.append('id', privateProductStorage.product_key);
                    } else {
                        form.append('accion', 'NEW');
                    }

                    try {
                        const data = await mandarData('http://127.0.0.1:8000/post_product/', form);
                        if (data.status === 200) {
                            if (privateProductStorage){
                                localStorage.removeItem('productKey');
                                showModal('Producto actualizado <br> correctamente', 'fas fa-check-circle', '/products/');
                            } else{
                                showModal('Producto registrado <br> correctamente', 'fas fa-check-circle', '/products/');
                            }
                        } else {
                            showModal('Ocurrió un error, <br> intenta de nuevo', 'fas fa-times',);
                        }
                    } catch (error) {
                        
                    }

                } else {
                    alert('Llenar todos los campos')
                }
        })

        } else if(getFormType() === '/form-sales/') {
            // alert('SALES')
            const FORMVENTA = document.querySelector('#formSales');
            let inputProducto = document.getElementById('producto');
            let inputCantidad = document.getElementById('cantidad');
            let inputTotal = document.getElementById('total');

            async function getData(url) {
                const response = await fetch(url);
                const data = await response.json();
                return data;
            }

            setAttributes(ETIQUETAA, {
                href: '/sales/',
            })

            const products = await getData('http://127.0.0.1:8000/fetch_products/');
            const clientes = await getData('http://127.0.0.1:8000/fetch_clients/');
            let sellers;
            if(getUserType(user) == 0 || getUserType(user) == 1){
                sellers = await getData('http://127.0.0.1:8000/fetch_sellers/');
            } else if(getUserType(user) == 2){
                sellers = user;
            }
            let idProduct;
            let prod;

            function addOptions(selectName, data){
                selectElement = document.getElementById(selectName);

                for(let i = 0; i < data.length; i++){
                    const optionElement = document.createElement('option');
                    if(i === 0){
                        setAttributes(optionElement, {
                            value: data[i].key,
                            selected: true
                        }) 
                        idProduct = data[i].key;
                        prod = products.products.find(x => x.key === data[i].key);
                    } else {
                        setAttributes(optionElement, {
                            value: data[i].key,
                        }) 
                    }
                    optionElement.innerHTML = data[i].name;
                    selectElement.appendChild(optionElement);
                }
            }

            function addOptionsUsers(selectName, data){
                selectElement = document.getElementById(selectName);

                for(let i = 0; i < data.length; i++){
                    const optionElement = document.createElement('option');
                    if(i === 0){
                        setAttributes(optionElement, {
                            value: data[i].key,
                            selected: true
                        }) 
                    } else {
                        setAttributes(optionElement, {
                            value: data[i].key,
                        }) 
                    }
                    optionElement.innerHTML = data[i].name;
                    selectElement.appendChild(optionElement);
                }
            }

            if(getUserType(user) == 0 || getUserType(user) == 1){
                addOptionsUsers('vendedor', sellers.sellers);
            } else if(getUserType(user) == 2){
                let vend = document.getElementById('vendedor');
                vend.disabled = true;
                const optionElement = document.createElement('option');
                setAttributes(optionElement, {
                    value: user.emp_key,
                }) 
                optionElement.innerHTML = `${user.first_name} ${user.last_name}`;
                vend.appendChild(optionElement);
            }

            addOptions('producto', products.products);
            addOptionsUsers('cliente', clientes.clients);

            let stock = await getData(`http://127.0.0.1:8000/fetch_product_stock/${idProduct}/`);
            setAttributes(document.getElementById('cantidad'), {
                min: 1,
                max: stock.stock.amount
            });

            inputProducto.addEventListener('change', async (e) => {
                prod = products.products.find(x => x.key === e.target.value);
                inputCantidad.value = 1;
                inputTotal.value = prod.price ;
                stock = await getData(`http://127.0.0.1:8000/fetch_product_stock/${prod.key}/`);
                setAttributes(document.getElementById('cantidad'), {
                    min: 1,
                    max: stock.stock.amount
                });
            })

            inputCantidad.addEventListener('change', async (e) => {
                totalPrecio = prod.price * inputCantidad.value;
                inputTotal.value = totalPrecio;
            })

            FORMVENTA.addEventListener('submit', async (e) => {
                e.preventDefault();

                if(document.getElementById('producto').value !== '' && document.getElementById('cantidad').value !== '' && document.getElementById('total').value !== '' && document.getElementById('cliente').value !== '' && document.getElementById('vendedor').value !== ''){
                    const form = new FormData();
                    form.append('product', document.getElementById('producto').value);
                    form.append('amount', document.getElementById('cantidad').value);
                    form.append('total', document.getElementById('total').value);
                    form.append('client', document.getElementById('cliente').value);
                    form.append('employee', document.getElementById('vendedor').value);

                    try {
                        const data = await mandarData('http://127.0.0.1:8000/sell_product/', form);
                        if (data.status === 200) {
                            showModal('Venta registrada <br> correctamente', 'fas fa-check-circle', '/sales/');
                        } else {
                            showModal('Ocurrió un error, <br> intenta de nuevo', 'fas fa-times',);
                        }
                    } catch (error) {
                        
                    }
                } else {
                    alert('Llenar todos los campos')
                }
            })
        } else if(getFormType() === '/form-purchases/') {
            const FORMCOMPRA = document.querySelector('#formPurchase');
            let inputProducto = document.getElementById('producto');
            let inputCantidad = document.getElementById('cantidad');
            let inputTotal = document.getElementById('total');
            let inputProveedor = document.getElementById('proveedor');
            let inputIdProveedor = document.getElementById('idProveedor');
            let inputStock = document.getElementById('stock');

            async function getData(url) {
                const response = await fetch(url);
                const data = await response.json();
                return data;
            }

            setAttributes(ETIQUETAA, {
                href: '/purchases/',
            }) 

            const products = await getData('http://127.0.0.1:8000/fetch_products/');
            const providers = await getData('http://127.0.0.1:8000/categories_and_providers/');
            let buyers;
            if(getUserType(user) == 0 || getUserType(user) == 1){
                buyers = await getData('http://127.0.0.1:8000/fetch_buyers/');;
            } else if(getUserType(user) == 2){
                buyers = user;
            }
            let idProduct;
            let prod;

            function addOptions(selectName, data){
                selectElement = document.getElementById(selectName);

                for(let i = 0; i < data.length; i++){
                    const optionElement = document.createElement('option');
                    if(i === 0){
                        setAttributes(optionElement, {
                            value: data[i].key,
                            selected: true
                        }) 
                        idProduct = data[i].key;
                        prod = products.products.find(x => x.key === data[i].key);
                    } else {
                        setAttributes(optionElement, {
                            value: data[i].key,
                        }) 
                    }
                    optionElement.innerHTML = data[i].name;
                    selectElement.appendChild(optionElement);
                }
            }

            function addOptionsUsers(selectName, data){
                selectElement = document.getElementById(selectName);

                for(let i = 0; i < data.length; i++){
                    const optionElement = document.createElement('option');
                    if(i === 0){
                        setAttributes(optionElement, {
                            value: data[i].key,
                            selected: true
                        }) 
                    } else {
                        setAttributes(optionElement, {
                            value: data[i].key,
                        }) 
                    }
                    optionElement.innerHTML = data[i].name;
                    selectElement.appendChild(optionElement);
                }
            }

            if(getUserType(user) == 0 || getUserType(user) == 1){
                addOptionsUsers('vendedor', buyers.buyers);
            } else if(getUserType(user) == 2){
                let vend = document.getElementById('vendedor');
                vend.disabled = true;
                const optionElement = document.createElement('option');
                setAttributes(optionElement, {
                    value: user.emp_key,
                }) 
                optionElement.innerHTML = `${user.first_name} ${user.last_name}`;
                vend.appendChild(optionElement);
            }

            addOptions('producto', products.products);
            addOptionsUsers('proveedor', providers.providers);

            setAttributes(document.getElementById('cantidad'), {
                min: 1,
            });

            let proveedor = await getData(`http://127.0.0.1:8000/fetch_provider/${prod.provider}/`);
            inputProveedor.value = proveedor.provider.name
            inputIdProveedor.value = proveedor.provider.provider_key
            let stock = await getData(`http://127.0.0.1:8000/fetch_product_stock/${idProduct}/`);
            inputStock.value = stock.stock.amount

            inputProducto.addEventListener('change', async (e) => {
                prod = products.products.find(x => x.key === e.target.value);
                inputCantidad.value = 1;
                inputTotal.value = prod.price;
                proveedor = await getData(`http://127.0.0.1:8000/fetch_provider/${prod.provider}/`);
                inputProveedor.value = proveedor.provider.name;
                inputIdProveedor.value = proveedor.provider.provider_key;
                stock = await getData(`http://127.0.0.1:8000/fetch_product_stock/${prod.key}/`);
                inputStock.value = stock.stock.amount;
            })

            inputCantidad.addEventListener('change', async (e) => {
                totalPrecio = prod.price * inputCantidad.value;
                inputTotal.value = totalPrecio;
            })

            FORMCOMPRA.addEventListener('submit', async (e) => {
                e.preventDefault();

                if(document.getElementById('producto').value !== '' && document.getElementById('cantidad').value !== '' && document.getElementById('total').value !== '' && document.getElementById('proveedor').value !== '' && document.getElementById('vendedor').value !== ''){
                    const form = new FormData();
                    form.append('product', document.getElementById('producto').value);
                    form.append('amount', document.getElementById('cantidad').value);
                    form.append('total', document.getElementById('total').value);
                    form.append('provider', document.getElementById('idProveedor').value);
                    form.append('employee', document.getElementById('vendedor').value);

                    try {
                        console.log('si')
                        const data = await mandarData('http://127.0.0.1:8000/buy_product/', form);
                        if (data.status === 200) {
                            showModal('Compra registrada <br> correctamente', 'fas fa-check-circle', '/purchases/');
                        } else {
                            showModal('Ocurrió un error, <br> intenta de nuevo', 'fas fa-times',);
                        }
                    } catch (error) {
                        console.log(error)
                    }
                } else {
                    alert('Llenar todos los campos')
                }
            })
        } else if(getFormType() === '/form-stock/'){

            let privateProductStorage = "";
            privateProductStorage = localStorage.getItem('stockKey');
            const FORMSTOCK = document.querySelector('#formStock');

            async function getStockData() {
                const response = await fetch(`/fetch_stock_product/${privateProductStorage}/`);
                const data = await response.json();
                return data;
            }

            let titulo = document.getElementsByClassName('result-title')[0];
            titulo.innerHTML = '';
            titulo.innerHTML = '<h2>Editar Almacen</h2>';

            privateProductStorage = await getStockData();

            document.getElementById("producto").value = privateProductStorage.stock.product_name;
            document.getElementById("cantidad").value = privateProductStorage.stock.amount;

            FORMSTOCK.addEventListener('submit', async (e) => {
                e.preventDefault();

                if(document.getElementById('producto').value !== '' && document.getElementById('cantidad').value !== ''){
                    const form = new FormData();
                    form.append('producto', privateProductStorage.stock.product);
                    form.append('cantidad', document.getElementById('cantidad').value);

                    try {
                        const data = await mandarData('http://127.0.0.1:8000/edit_stock/', form);
                        if (data.status === 200) {
                            showModal('Almacen actualizado <br> correctamente', 'fas fa-check-circle', '/stock/');
                        } else {
                            showModal('Ocurrió un error, <br> intenta de nuevo', 'fas fa-times',);
                        }
                    } catch (error) {
                        console.log('error')
                    }

                } else {
                    alert('Llenar todos los campos')
                }
            })

            console.log(privateProductStorage.category);
            }
    })();

</script>

</html>