<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventsoft - Inicio Sesión</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/form.css">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:200,300,400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <nav class="nav">
        <label>&copy Inventsoft</label>
        <div class="active-user-container">
            <p>Bienvenido, <button id="active-user">Juan López</button></p>
        </div>
    </nav>

    <section class="options-container">
        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

        <a href="" class="option">
            <i class="fas fa-laptop"></i>
            <span>Categoría</span>
        </a>

            
    </section>

    <div class="container-fluid main-container">
        <div class="row main-row-container">
            <div class="col-10 col-sm-6 col-lg-4 col-xl-4 result-container">
                <div class="result-title">
                    <h2>Formulario Categoría</h2>
                </div>
                <div class="row row-form-container">
                    <div class="col-10 col-sm-10 col-lg-10 col-xl-8 col-form-container">
                        <div class="form-container">
                            <form action="" class="form">
                                <input type="text" placeholder="Nombre:">
                                <input type="text" placeholder="Apellido Paterno:">
                                <input type="text" placeholder="Apellido Materno:">
                                <input type="text" placeholder="Correo:">
                                <button type="submit" class="btn btn-submit">Guardar</button>
                                <a href="" class="btn secondary-btn">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>